/*especificidad -> 10*/
aside {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: auto;
    width: auto;
  }

  img{
  width: 30em;
  height: 15em;
  object-fit: cover;
  padding: 1.25em;
  }

